@import "tailwindcss";

body {
    background-color: #4A4947;
}

header {
    background-color: #FAF7F0;
    color: #DFD0B8
}

.menu-items-container > div {
    background-color: #FAF7F0;
    /* &:hover {
        background-color: #948979
    } */
}

/* .menu-categories-container > button {
    background-color: #393E46;
    &:hover {
        background-color: #b4ada2
    }
} */

.order-container {
    background-color: #FAF7F0;
}

.btn-change-quantity {
    cursor: pointer;
    height: 1.5rem;
    width: 1.6rem;
    border-radius: 0.5rem;
    background-color: #4A4947;
    color: #FAF7F0;
    transition: background-color 0.2s, color 0.2s, opacity 0.2s;

    &:hover:not(:disabled) {
        background-color: #222831;
        color: #948979;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}

.create-order-label, .category-name-label {
    color: #FAF7F0;
}